# Module to scrape and store data in local storage as CSV

* Adaptation from: https://github.com/jorgeviz/depcdmx

* Fields: name, description, location, link, price, operation, rooms, bathrooms, construction (m2), terrain (m2)

* Data scraped between May 30 and June 1

## 1. Dependencies

In [1]:
#  
import requests
import statistics
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
import os
from pprint import pprint as pp

## 2. Import, append, drop duplicates, etc. from csv tables

### Import data

In [2]:
# CDMX operation = venta, departamentos
df_CDMX_Venta_D = pd.read_csv('data/RawData/inmuebles24-distrito-federal-venta-departamentos.csv', 
                              encoding = 'utf-8-sig')
df_CDMX_Venta_D['propiedad'] = 'Departamento'
df_CDMX_Venta_D['entidad'] = 'CDMX'
df_CDMX_Venta_D.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,"Sierra Gorda, Lomas de Chapultepec","Calle Sierra gorda, Lomas de Chapultepec, Migu...",La exclusiva zona residencial de Lomas de Chap...,/propiedades/sierra-gorda-lomas-de-chapultepec...,"MN 25,000,000",venta,2.5,NaN,282.0,416.5,Departamento,CDMX
1,Enquentro Residencial Insurgentes Mixcoac,"Patriotismo 883, Insurgentes Mixcoac, Benito J...",Enquentro un proyecto moderno y singular. Ven ...,/propiedades/enquentro-residencial-insurgentes...,"MN 5,523,587",venta,2.5,NaN,140.5,140.5,Departamento,CDMX
2,Sky Tower Lindavista,"Av. Insurgentes Norte. 1346, Lindavista, Ciud...",Sky tower lindavista es un desarrollo de 184 d...,/propiedades/sky-tower-lindavista-54456938.html,"MN 3,210,000",venta,2.0,NaN,79.5,122.0,Departamento,CDMX

In [3]:
# CDMX operation = venta, casas
df_CDMX_Venta_C = pd.read_csv('data/RawData/inmuebles24-distrito-federal-venta-casas.csv', 
                              encoding = 'utf-8-sig')
df_CDMX_Venta_C['propiedad'] = 'Casa'
df_CDMX_Venta_C['entidad'] = 'CDMX'
df_CDMX_Venta_C.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,Torreón 10,"Calle Torreón 10, Roma Sur, Roma, Cuauhtémoc",¡Casas en venta! De 158m2 a 175m2 con 3 recáma...,/propiedades/torreon-10-54395385.html,"MN 8,230,000",venta,3.0,NaN,166.5,58.0,Casa,CDMX
1,Casa - Jardines en La Montaña,"Jardines EN LA Montaña, Residencia Frente AL B...",Espectacular casa en venta con hermosas vistas...,/propiedades/casa-jardines-en-la-montana-56828...,"MN 35,500,000",venta,3.0,3.0,790.0,635.0,Casa,CDMX
2,"Bosques de Reforma, Casa Sola a La Venta en Bo...","Bosques de Reforma, Casa Sola a la Venta en Bo...","Bosques de las Lomas, Bosque de la Reforma, ca...",/propiedades/bosques-de-reforma-casa-sola-a-la...,"MN 34,500,000",venta,3.0,3.0,736.0,715.0,Casa,CDMX

In [4]:
# CDMX operation = venta, casas en condominio
df_CDMX_Venta_CC = pd.read_csv('data/RawData/inmuebles24-distrito-federal-venta-casa-en-condominio.csv', 
                               encoding = 'utf-8-sig')
df_CDMX_Venta_CC['propiedad'] = 'Casa en Condominio'
df_CDMX_Venta_CC['entidad'] = 'CDMX'
df_CDMX_Venta_CC.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,Residencial Hidalgo 39,"San Francisco CulhuacAn Barrio , Coyoacán",Desarrollo de 38 casas con planta baja y dos n...,/propiedades/residencial-hidalgo-39-51632248.html,"MN 4,600,000",venta,3.0,NaN,185.5,3977.0,Casa en Condominio,CDMX
1,Acacias 63,"florida, del valle sur, san jose insurgentes, ...",Hermosas residencias de 3 niveles a estrenar u...,/propiedades/acacias-63-58312116.html,"MN 12,822,000",venta,3.0,NaN,245.0,360.0,Casa en Condominio,CDMX
2,Pedregal - Residencias Privadas,"ESTEPA , Jardines del Pedregal de San Angel, C...",Condominio horizontal nuevo. 13 residencias pr...,/propiedades/pedregal-residencias-privadas-574...,"MN 30,914,900",venta,3.5,NaN,790.5,322.5,Casa en Condominio,CDMX

In [5]:
# CDMX operation = renta, departamentos
df_CDMX_Renta_D = pd.read_csv('data/RawData/inmuebles24-distrito-federal-renta-departamentos.csv', 
                              encoding = 'utf-8-sig')
df_CDMX_Renta_D['propiedad'] = 'Departamento'
df_CDMX_Renta_D['entidad'] = 'CDMX'
df_CDMX_Renta_D.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,City Rent - Parques Polanco,"Lago Mayor 6, Polanco, Miguel Hidalgo","""All Inclusive Lifestyle"" En City Rent creamos...",/propiedades/city-rent-parques-polanco-5355970...,"MN 14,900",renta,2.0,NaN,92.0,98.0,Departamento,CDMX
1,"Nomad Santa Fe, Departamentos en Renta","Av. Santa Fe 578, Santa Fe, Alvaro Obregón",Renta tu próximo depa desde la comodidad de tu...,/propiedades/nomad-santa-fe-departamentos-en-r...,"MN 16,500",renta,1.5,NaN,NaN,NaN,Departamento,CDMX
2,"Nomad Mítikah, Departamentos en Renta","Av. Río Churubusco 601, Del Carmen, Coyoacán",Renta tu próximo depa desde la comodidad de tu...,/propiedades/nomad-mitikah-departamentos-en-re...,"MN 14,800",renta,1.5,NaN,NaN,NaN,Departamento,CDMX

In [6]:
# CDMX operation = renta, casas
df_CDMX_Renta_C = pd.read_csv('data/RawData/inmuebles24-distrito-federal-renta-casas.csv', 
                              encoding = 'utf-8-sig')
df_CDMX_Renta_C['propiedad'] = 'Casa'
df_CDMX_Renta_C['entidad'] = 'CDMX'
df_CDMX_Renta_C.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,"Monte Pichincha, Magnifica Casa en Renta","Monte Pichincha 21, Lomas de Reforma, Miguel H...","Magnifica casa en renta, ubicada en una de las...",/propiedades/monte-pichincha-magnifica-casa-en...,"MN 165,000",renta,4.0,4.0,560.0,500.0,Casa,CDMX
1,"Casa en Renta Rincón de Las Lomas, Bosque del Sur","Rincón de las Lomas, Bosque Residencial del Su...","En Homie no te pedimos aval, te respaldamos y ...",/propiedades/casa-en-renta-rincon-de-las-lomas...,"MN 25,300",renta,3.0,1.0,400.0,400.0,Casa,CDMX
2,"Casa en Renta Plaza Mayorazgo de Luyando, Xoco","Plaza Mayorazgo de Luyando, Xoco, Benito Juárez","En Homie no te pedimos aval, te respaldamos y ...",/propiedades/casa-en-renta-plaza-mayorazgo-de-...,"MN 31,000",renta,3.0,3.0,232.0,232.0,Casa,CDMX

In [7]:
# CDMX operation = renta, casas en condominio
df_CDMX_Renta_CC = pd.read_csv('data/RawData/inmuebles24-distrito-federal-renta-casa-en-condominio.csv', 
                               encoding = 'utf-8-sig')
df_CDMX_Renta_CC['propiedad'] = 'Casa en Condominio'
df_CDMX_Renta_CC['entidad'] = 'CDMX'
df_CDMX_Renta_CC.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,"Aaa! Oportunidad! Renta Casa en Conjunto, Bosq...","Bosques de las Lomas, Cuajimalpa de Morelos",Disponible en diciembre 2019! Oportunidad! Ren...,/propiedades/aaa!-oportunidad!-renta-casa-en-c...,"MN 100,000",renta,4,4.0,550.0,550.0,Casa en Condominio,CDMX
1,Excelente Casa en Condominio Para Estrenar,"San Pedro de los Pinos, Benito Juárez",Excelente casa en condominio En San Pedro Los ...,/propiedades/excelente-casa-en-condominio-para...,"MN 28,500",renta,3,2.0,214.0,64.0,Casa en Condominio,CDMX
2,Vendo/rento Hermosa Casa en Condominio Horizon...,"COAHUILA 83, Cuajimalpa, Cuajimalpa de Morelos",Hermosa casa en perfecto estado de conservació...,/propiedades/vendo-rento-hermosa-casa-en-condo...,"MN 22,000",renta,3,2.0,220.0,240.0,Casa en Condominio,CDMX

In [8]:
# EDOMEX operation = venta, departamentos
df_EDOMEX_Venta_D = pd.read_csv('data/RawData/inmuebles24-edo.-de-mexico-venta-departamentos.csv', 
                                encoding = 'utf-8-sig')
df_EDOMEX_Venta_D['propiedad'] = 'Departamento'
df_EDOMEX_Venta_D['entidad'] = 'EDOMEX'
df_EDOMEX_Venta_D.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,Desarrollo Bosques de La Herradura Los Ríos Re...,"Bosque de Minas, Bosques de la Herradura, Huix...",Los Ríos Residencial es un proyecto con 60 exc...,/propiedades/desarrollo-bosques-de-la-herradur...,"MN 4,850,000",venta,2.0,NaN,119.0,175.5,Departamento,EDOMEX
1,Binôme Townhouses & Apartments,"Av. Vista Real, Green House, Lomas Country Clu...",BinÔme nace como respuesta a la necesidad de v...,/propiedades/binome-townhouses-apartments-5530...,"MN 8,995,000",venta,3.0,NaN,283.0,NaN,Departamento,EDOMEX
2,Nova Lifestyle Bosques,"Antiguo Camino a Tecamachalco 29, Lomas del Ol...","Propone una nueva forma de vivir, donde arquit...",/propiedades/nova-lifestyle-bosques-56703094.html,"MN 6,539,784",venta,3.0,NaN,245.0,NaN,Departamento,EDOMEX

In [9]:
# EDOMEX operation = venta, casas
df_EDOMEX_Venta_C = pd.read_csv('data/RawData/inmuebles24-edo.-de-mexico-venta-casas.csv', 
                                encoding = 'utf-8-sig')
df_EDOMEX_Venta_C['propiedad'] = 'Casa'
df_EDOMEX_Venta_C['entidad'] = 'EDOMEX'
df_EDOMEX_Venta_C.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,Casas Cuautitlán Izcalli - Atlanta Edo. de México,"Atlanta, Cuautitlán Izcalli",Visita nuestra casa muestra. Acabados: -Muros:...,/propiedades/casas-cuautitlan-izcalli-atlanta-...,"MN 2,689,325",venta,3.0,NaN,96.0,105.0,Casa,EDOMEX
1,Ribera,"Av. Jorge Jiménez Cantú, Bosque Esmeralda, Cd...",Invierte en una casa diseñada especialmente pa...,/propiedades/ribera-58320942.html,"MN 3,500,000",venta,3.0,NaN,134.0,90.0,Casa,EDOMEX
2,Colina1,"v. Jorge Jiménez Cantú, Bosque Esmeralda, 5293...",Invierte en una casa diseñada especialmente pa...,/propiedades/colina1-58411650.html,"MN 3,240,000",venta,3.0,NaN,110.0,NaN,Casa,EDOMEX

In [10]:
# EDOMEX operation = venta, casas en condominio
df_EDOMEX_Venta_CC = pd.read_csv('data/RawData/inmuebles24-edo.-de-mexico-venta-casa-en-condominio.csv', 
                                 encoding = 'utf-8-sig')
df_EDOMEX_Venta_CC['propiedad'] = 'Casa en Condominio'
df_EDOMEX_Venta_CC['entidad'] = 'EDOMEX'
df_EDOMEX_Venta_CC.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,Encinos Residencial (Oficial) en Rancho San Juan,"Av. Dr. Jimenez Cantú s/n, Rancho San Juan, Ra...",Residencial encinos (Oficial) dentro de rancho...,/propiedades/encinos-residencial-oficial-en-ra...,"MN 10,437,013",venta,4,NaN,323.0,NaN,Casa en Condominio,EDOMEX
1,Rinconada de La Estadía Siente La Libertad de ...,"la estadia , Bosque Esmeralda, Atizapán de Zar...",La Estadía es el lugar ideal para tu familia. ...,/propiedades/rinconada-de-la-estadia-siente-la...,"MN 15,290,000",venta,3,NaN,448.0,549.5,Casa en Condominio,EDOMEX
2,"""Oyamel"" en Circuito Avándaro (9 Exclusivas Ca...","Cerrada Vega de las Flores, Avandaro, AvAndaro...","Conjunto de 9 lujosas casas de descanso, que p...",/propiedades/-oyamel-en-circuito-avandaro-9-ex...,"MN 14,950,000",venta,4,NaN,447.0,11000.0,Casa en Condominio,EDOMEX

In [11]:
# EDOMEX operation = renta, departamentos
df_EDOMEX_Renta_D = pd.read_csv('data/RawData/inmuebles24-edo.-de-mexico-renta-departamentos.csv', 
                                encoding = 'utf-8-sig')
df_EDOMEX_Renta_D['propiedad'] = 'Departamento'
df_EDOMEX_Renta_D['entidad'] = 'EDOMEX'
df_EDOMEX_Renta_D.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,Renta de Departamento Premium Nuevo en Bosque ...,"SìRENTA, Bosque Real, Huixquilucan",¡Aprovecha nuestra promoción covid-19: Grandes...,/propiedades/renta-de-departamento-premium-nue...,"MN 21,700",renta,2.5,NaN,180.5,180.5,Departamento,EDOMEX
1,"Frondoso II, Depa Terraza Piso Alto, Venta o r...",Frondoso II Departamento con Terraza en Piso A...,"Lomas Country Club, Frondoso ii, departamento ...",/propiedades/frondoso-ii-depa-terraza-piso-alt...,"MN 42,000",renta,3.0,3.0,385.0,385.0,Departamento,EDOMEX
2,"Departamento en Renta Isaac Newton, Las Torres","Isaac Newton, Las Torres, Toluca","En Homie no te pedimos aval, te respaldamos y ...",/propiedades/departamento-en-renta-isaac-newto...,"MN 4,500",renta,2.0,1.0,50.0,50.0,Departamento,EDOMEX

In [12]:
# EDOMEX operation = renta, casas
df_EDOMEX_Renta_C = pd.read_csv('data/RawData/inmuebles24-edo.-de-mexico-renta-casas.csv', 
                                encoding = 'utf-8-sig')
df_EDOMEX_Renta_C['propiedad'] = 'Casa'
df_EDOMEX_Renta_C['entidad'] = 'EDOMEX'
df_EDOMEX_Renta_C.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,"Casa en Renta Jardines Botanicos, Tecamac","Jardines Botanicos, Los Héroes Tecámac, Tecámac","En Homie no te pedimos aval, te respaldamos y ...",/propiedades/casa-en-renta-jardines-botanicos-...,"MN 4,500",renta,2,1.0,72.0,72.0,Casa,EDOMEX
1,"Casa en Renta Antioquia, San Pablo Tecalco","Antioquia, San Pablo Tecalco, Tecámac","En Homie no te pedimos aval, te respaldamos y ...",/propiedades/casa-en-renta-antioquia-san-pablo...,"MN 4,500",renta,2,1.0,70.0,70.0,Casa,EDOMEX
2,Casa en Renta Cerrada de Olivo Villas del Bosq...,"Cerrada de Olivo Villas del bosque, San Anton...","En Homie no te pedimos aval, te respaldamos y ...",/propiedades/casa-en-renta-cerrada-de-olivo-vi...,"MN 4,500",renta,3,2.0,90.0,90.0,Casa,EDOMEX

In [13]:
# EDOMEX operation = renta, casas en condominios
df_EDOMEX_Renta_CC = pd.read_csv('data/RawData/inmuebles24-edo.-de-mexico-renta-casa-en-condominio.csv', 
                                 encoding = 'utf-8-sig')
df_EDOMEX_Renta_CC['propiedad'] = 'Casa en Condominio'
df_EDOMEX_Renta_CC['entidad'] = 'EDOMEX'
df_EDOMEX_Renta_CC.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,Preciosa Casa en Renta en Condominio Privado e...,"Las Colonias, Atizapán de Zaragoza",Preciosa casa en renta en condominio privado e...,/propiedades/preciosa-casa-en-renta-en-condomi...,"MN 25,000",renta,3.0,3.0,190.0,220.0,Casa en Condominio,EDOMEX
1,"Casa en Renta, Punta Esmeralda","Bosque Esmeralda, Atizapán de Zaragoza",120 metros de construcción muy bien aprovechad...,/propiedades/casa-en-renta-punta-esmeralda-520...,"MN 17,500",renta,3.0,2.0,120.0,120.0,Casa en Condominio,EDOMEX
2,"Bosque Esmeralda, Iluminada Casa en Condominio...","CONDOMINIO MAGENTA ZONA ESMERALDA, Bosque Esme...","Como nueva, muy iluminada, linda vista, 3 reca...",/propiedades/bosque-esmeralda-iluminada-casa-e...,"MN 25,000",renta,3.0,2.0,150.0,275.0,Casa en Condominio,EDOMEX

### Append dataframes

In [14]:
# Append CDMX - EDOMEX, operation = Venta
df_Venta = df_CDMX_Venta_D.append(df_CDMX_Venta_C)
df_Venta = df_Venta.append(df_CDMX_Venta_CC)
df_Venta = df_Venta.append(df_EDOMEX_Venta_D)
df_Venta = df_Venta.append(df_EDOMEX_Venta_C)
df_Venta = df_Venta.append(df_EDOMEX_Venta_CC)

df_Venta.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,"Sierra Gorda, Lomas de Chapultepec","Calle Sierra gorda, Lomas de Chapultepec, Migu...",La exclusiva zona residencial de Lomas de Chap...,/propiedades/sierra-gorda-lomas-de-chapultepec...,"MN 25,000,000",venta,2.5,NaN,282.0,416.5,Departamento,CDMX
1,Enquentro Residencial Insurgentes Mixcoac,"Patriotismo 883, Insurgentes Mixcoac, Benito J...",Enquentro un proyecto moderno y singular. Ven ...,/propiedades/enquentro-residencial-insurgentes...,"MN 5,523,587",venta,2.5,NaN,140.5,140.5,Departamento,CDMX
2,Sky Tower Lindavista,"Av. Insurgentes Norte. 1346, Lindavista, Ciud...",Sky tower lindavista es un desarrollo de 184 d...,/propiedades/sky-tower-lindavista-54456938.html,"MN 3,210,000",venta,2.0,NaN,79.5,122.0,Departamento,CDMX

In [15]:
#
pd.crosstab(df_Venta.propiedad, df_Venta.entidad, dropna = False)

entidad              CDMX  EDOMEX
propiedad
Casa                15929    7879
Casa en Condominio   5242    7518
Departamento        25520    8900

In [16]:
#
df_Venta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70988 entries, 0 to 7517
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               70988 non-null  object
 1   location           70988 non-null  object
 2   description        70834 non-null  object
 3   link               70988 non-null  object
 4   price              70988 non-null  object
 5   operation          70988 non-null  object
 6   rooms              70900 non-null  float64
 7   bathrooms          68542 non-null  float64
 8   construction (m2)  67453 non-null  float64
 9   terrain (m2)       69223 non-null  float64
 10  propiedad          70988 non-null  object
 11  entidad            70988 non-null  object
dtypes: float64(4), object(8)
memory usage: 7.0+ MB

In [17]:
# Append CDMX - EDOMEX, operation = Renta
df_Renta = df_CDMX_Renta_D.append(df_CDMX_Renta_C)
df_Renta = df_Renta.append(df_CDMX_Renta_CC)
df_Renta = df_Renta.append(df_EDOMEX_Renta_D)
df_Renta = df_Renta.append(df_EDOMEX_Renta_C)
df_Renta = df_Renta.append(df_EDOMEX_Renta_CC)

df_Renta.head(3)

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),propiedad,entidad
0,City Rent - Parques Polanco,"Lago Mayor 6, Polanco, Miguel Hidalgo","""All Inclusive Lifestyle"" En City Rent creamos...",/propiedades/city-rent-parques-polanco-5355970...,"MN 14,900",renta,2.0,NaN,92.0,98.0,Departamento,CDMX
1,"Nomad Santa Fe, Departamentos en Renta","Av. Santa Fe 578, Santa Fe, Alvaro Obregón",Renta tu próximo depa desde la comodidad de tu...,/propiedades/nomad-santa-fe-departamentos-en-r...,"MN 16,500",renta,1.5,NaN,NaN,NaN,Departamento,CDMX
2,"Nomad Mítikah, Departamentos en Renta","Av. Río Churubusco 601, Del Carmen, Coyoacán",Renta tu próximo depa desde la comodidad de tu...,/propiedades/nomad-mitikah-departamentos-en-re...,"MN 14,800",renta,1.5,NaN,NaN,NaN,Departamento,CDMX

In [18]:
#
pd.crosstab(df_Renta.propiedad, df_Renta.entidad, dropna = False)

entidad              CDMX  EDOMEX
propiedad
Casa                10032   30692
Casa en Condominio   4022    6468
Departamento        26145    6801

In [19]:
#
df_Renta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84160 entries, 0 to 6467
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               84160 non-null  object
 1   location           84160 non-null  object
 2   description        84157 non-null  object
 3   link               84160 non-null  object
 4   price              84160 non-null  object
 5   operation          84160 non-null  object
 6   rooms              84144 non-null  float64
 7   bathrooms          83152 non-null  float64
 8   construction (m2)  74804 non-null  float64
 9   terrain (m2)       76772 non-null  float64
 10  propiedad          84160 non-null  object
 11  entidad            84160 non-null  object
dtypes: float64(4), object(8)
memory usage: 8.3+ MB

### Drop duplicates

In [20]:
# Duplicates, operation = Venta
df_Venta_Unique = df_Venta.drop_duplicates()

pd.crosstab(df_Venta_Unique.propiedad, df_Venta_Unique.entidad, dropna = False)

entidad              CDMX  EDOMEX
propiedad
Casa                11670    6862
Casa en Condominio   3175    3547
Departamento        18976    6907

In [21]:
df_Venta_Unique.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51137 entries, 0 to 3896
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               51137 non-null  object
 1   location           51137 non-null  object
 2   description        51135 non-null  object
 3   link               51137 non-null  object
 4   price              51137 non-null  object
 5   operation          51137 non-null  object
 6   rooms              51055 non-null  float64
 7   bathrooms          50493 non-null  float64
 8   construction (m2)  48820 non-null  float64
 9   terrain (m2)       50169 non-null  float64
 10  propiedad          51137 non-null  object
 11  entidad            51137 non-null  object
dtypes: float64(4), object(8)
memory usage: 5.1+ MB

In [22]:
# Duplicates, operation = Renta
df_Renta_Unique = df_Renta.drop_duplicates()

pd.crosstab(df_Renta_Unique.propiedad, df_Renta_Unique.entidad, dropna = False)

entidad              CDMX  EDOMEX
propiedad
Casa                 1637    2528
Casa en Condominio    774     704
Departamento        17757    4491

In [23]:
df_Renta_Unique.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27891 entries, 0 to 703
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               27891 non-null  object
 1   location           27891 non-null  object
 2   description        27888 non-null  object
 3   link               27891 non-null  object
 4   price              27891 non-null  object
 5   operation          27891 non-null  object
 6   rooms              27877 non-null  float64
 7   bathrooms          27750 non-null  float64
 8   construction (m2)  26543 non-null  float64
 9   terrain (m2)       27429 non-null  float64
 10  propiedad          27891 non-null  object
 11  entidad            27891 non-null  object
dtypes: float64(4), object(8)
memory usage: 2.8+ MB

### Save tables

In [25]:
# Save CDMX - EDOMEX, operation = Venta
df_Venta_Unique.to_csv('data/CleanData/inmuebles24-edo_Venta.csv', sep =',', encoding = 'utf-8-sig', index = False)

In [26]:
# Save CDMX - EDOMEX, operation = Renta
df_Renta_Unique.to_csv('data/CleanData/inmuebles24-edo_Renta.csv', sep =',', encoding = 'utf-8-sig', index = False)